body {
    font-family: 'Roboto', sans-serif;
    margin: 0px;
}

a {
    text-decoration: none;
    color: white;
}

button:hover {
    background-color: red;
}

.banner-wrap {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(https://source.unsplash.com/1600x900/?nature);
    background-size: cover;
    background-position: center;
    padding: 150px 0;
    text-align: center;
}

h1 {
    color: white;
    font-size: 45px;
    margin: 0;
    font-size: bold;
}

.banner-wrap p {
    color: rgba(255, 255, 255, .7);
    font-size: 24px;
}

button {
    background-color: #1A48E3;
    color: white;
    padding: 16px 48px;
    border-radius: 4px;
    transition: .3s;
    font-size: 20px;
    font-weight: bold;
    border: none;
}

.cards-wrap {
    width: 900px;
    margin: 60px auto;
}

.cards-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.card {
    background: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    padding: 24px;
    margin: 0px 24px;
}

.card img {
    width: 200px;
}

footer {
    background: #404042;
    color: white;
    padding: 30px 50px;
    block-size: 40px;
    bottom: 0;
    left: 0px;
    right: 0px;
}